$bg-color:lightgrey;
$main-color:#369;
$secondry-color:#dd6;
$third-color:#396;
$main-grey:#777;
$event: '.event';
body {
  background-color: $bg-color;
  padding-top: 60px;
}

.day {
  width: 14.2%;
  border: solid 1px lighten($color: $main-grey, $amount: 30);
  height: 8em;
  padding: .1em;
  position: relative;
  &,
  * {
    transition: ease-in-out .2s;
  }
  &:hover {
    background: lighten($color: $bg-color, $amount: 5);
  }
  &.today {
    background: darken($color: $main-color, $amount: 10);
    color: #fff;
    &:hover {
      background: lighten($color: $main-color, $amount: 1);
    }
  }
  &.disabled {
    background: lighten($color: $main-grey, $amount: 10);
    color: lighten($color: $main-grey, $amount: 3);
    &>header {
      background: lighten($color: $main-grey, $amount: 20);
      color: darken($color: $main-grey, $amount: 10);
    }
    li {
      background: lighten($color: $main-grey, $amount: 7);
      color: lighten($color: $main-grey, $amount: 3);
    }
  }
  &.header {
    height: auto;
    background: darken($color: $main-grey, $amount: 10);
    color: #fff;
    text-align: center;
  }
  &>header {
    padding: 2px 6px;
    border-radius: 4px;
    min-width: 1.8em;
    display: inline-block;
    text-align: center;
    background: lighten($color: $main-color, $amount: 50);
    color: lighten($color: $main-color, $amount: 10);
  }
  &>footer {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba($color: $secondry-color, $alpha: .65);
    padding: 2px 4px;
    text-align: center;
    min-width: 2.6em;
  }
  ul {
    overflow: auto;
    height: 80%;
    margin: 0;
    padding: 0;
    #{$event} {
      background: lighten($color:$third-color, $amount:30);
      color: $third-color;
      list-style: none;
      padding: .05em .4em;
      margin: .1em .2em;
      border-radius: 4px;
      line-height: 1.2em;
      cursor: pointer;
      display: none;
      header {
        font-weight: bold;
      }
      footer {
        font-size: 1.4em;
      }
      &:hover {
        background: lighten($color: $main-color, $amount: 10);
        color: #fff;
      }
      &:first-child {
        display: block;
      }
    }
  }
}
